rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to equipment
    match /equipments/{equipmentId} {
      allow read: if true;
      allow create, update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Owner';
    }

    // Allow users to create and update their own user document
    match /users/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
